body{font:80% Verdana,Tahoma,Arial,sans-serif}
h1,h2,h3,h4{font-family:"Trebuchet MS",Georgia,"Times New Roman",serif}
table{border:1px solid #505050;border-collapse:collapse;margin-bottom:1em}
table,td,th{border:1px solid #bbb;padding:4px}
a.new{color:#0c00ae}
pre{margin:1em 1em 1em 1.6em;padding:2px 2px 2px 0;background-color:#fafafa;border:1px solid #dadada;width:auto;overflow-x:auto;overflow-y:hidden}
ul.toc{z-index:-1;background-color:#ffd;border:1px solid #e4e4e4;padding:4px;line-height:1.2em;margin-bottom:12px;margin-right:12px;margin-left:0;display:table}
* html ul.toc{width:50%}
ul.toc.right{float:right;margin-left:12px;margin-right:0;width:auto}
ul.toc.left{float:left;margin-right:12px;margin-left:0;width:auto}
ul.toc li{list-style-type:none}
ul.toc li.heading2{margin-left:6px}
ul.toc li.heading3{margin-left:12px;font-size:.8em}
ul.toc a{font-size:.9em;font-weight:400;text-decoration:none;color:#606060}
ul.toc a:hover{color:#c61a1a;text-decoration:underline}
a.wiki-anchor{display:none;margin-left:6px;text-decoration:none}
a.wiki-anchor:hover{color:#aaa!important;text-decoration:none}
h1:hover a.wiki-anchor,h2:hover a.wiki-anchor,h3:hover a.wiki-anchor{display:inline;color:#ddd}
img{vertical-align:middle}
.main{padding:0 10px}
.content{width:900px}
ul.toc{width:300px;right:0;top:10px;position:fixed;opacity:1}
.footer_pageTop{position:fixed;z-index:999;width:45px;height:45px;right:70px;bottom:80px}
html{colorline-heightoverflow-y:#10101b 1.6 scroll;-moz-tab-size:4;-o-tab-size:4;tab-size:4}
body{margin:0;padding:0;background-color:#fff;color:#3e425a;font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";font-size:14px;font-weight:400;line-height:1.428571429}
a{color:#0051cc;text-decoration:none}
a:hover,a:focus{color:#0065ff;text-decoration:underline}
a.issue.closed{color:#717894;text-decoration:line-through}
a.project.closed{color:#717894}
a.user.locked{color:#717894}
a,area,button,input,label,select,summary,textarea,[tabindex]{-ms-touch-action:manipulation;touch-action:manipulation}
h1{margin:0;font-size:2em;font-weight:500;line-height:1.09725}
h2{margin-top:0;margin-bottom:20px;font-size:1.43em;font-weight:500;line-height:1.33}
h2 img{vertical-align:middle}
h3{margin-top:0;margin-bottom:20px;font-size:1.14em;font-weight:500;line-height:1.33}
h4{margin-top:0;font-size:1em;font-weight:500;line-height:1.428571429}
p{margin:0 0 10px}
small{font-size:.86em}
table th{font-weight:600}
table th,table td{padding:5px 8px}
table p{margin:0}
ul,ol{margin-top:0;margin-bottom:10px;padding-left:1.5em}
ul ul,ul ol,ol ul,ol ol{margin-bottom:0}
dl{margin-top:0;margin-bottom:20px}
dt{margin-top:20px;font-weight:600}
dd{margin-bottom:20px;margin-left:20px}
code,kbd,pre,samp{font-family:Menlo,Consolas,Roboto Mono,Ubuntu Monospace,Noto Mono,Oxygen Mono,Liberation Mono,monospace;font-size:1em}
hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #a3a6b8}
li hr{margin-top:10px;margin-bottom:10px}
blockquote{margin:0 0 20px;padding:5px 16px;border-left:4px solid rgba(0,0,0,0.15)}
blockquote>:first-child{margin-top:0}
blockquote>:last-child{margin-bottom:0}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{margin-top:1em;margin-bottom:16px;font-weight:600;line-height:1.4}
h1,.h1{padding-bottom:.3em;border-bottom:1px solid #dadce7;font-size:2.25em;line-height:1.2}
h2,.h2{padding-bottom:.3em;border-bottom:1px solid #dadce7;font-size:1.75em;line-height:1.225}
h3,.h3{font-size:1.5em;line-height:1.43}
h4,.h4{font-size:1.286em}
h5,.h5{font-size:1em}
h6,.h6{color:#717894;font-size:1em}
.text-normal{font-weight:400}
a:first-child+h1,a:first-child+h2,a:first-child+h3,a:first-child+h4,a:first-child+h5,a:first-child+h6{margin-top:0}
a:target+h2::before,a:target+h3::before,a:target+h4::before,a:target+h5::before,a:target+h6::before{content:"#";display:inline-block;width:.7em;margin-left:-.7em;color:#a3a6b8;font-weight:400}
blockquote>:first-child{margin-top:0}
blockquote>:last-child{margin-bottom:0}
.contextual a{opacity:.7}
.contextual a:hover{opacity:1}
a{word-break:break-all;word-break:break-word}
p,ul,ol{margin-bottom:1em}
ul,ol{padding-left:1.5em}
ul ul,ul ol,ol ul,ol ol{margin-bottom:0}
li>p{margin-top:10px}
table{display:block;width:100%;margin-bottom:20px;overflow:auto;word-break:normal;word-break:keep-all}
tr:nth-child(2n){background-color:rgba(209,211,224,0.15)}
td,th{padding:8px;border:1px solid #e3e5ed}
.noborder{border:0 none}
.noborder td,.noborder th{border:0 none}
a.new{color:#e5123d}
code{padding:.2em .33em;border-radius:3px;background-color:rgba(0,0,0,0.04);font-size:.86em}
pre{width:auto;margin-bottom:1.15em;padding:4px 8px;overflow-x:auto;overflow-y:hidden;border:1px solid rgba(0,0,0,0.068);border-radius:3px;background-color:rgba(0,0,0,0.03);font-size:.86em}
pre code{padding:0;border-radius:0;background-color:transparent;font-size:1em}
img{max-width:100%;vertical-align:middle}
.toc{margin-bottom:20px;margin-left:0;padding:0;list-style-type:none}
.toc.right,.toc.left{max-width:45%;padding:8px;border:1px solid #d19d01;border-radius:3px;background-color:#ffe9a8;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.07),0 3px 8px rgba(0,0,0,0.04);box-shadow:0 1px 2px rgba(0,0,0,0.07),0 3px 8px rgba(0,0,0,0.04);font-size:.86em}
.toc.right a,.toc.left a{color:#5b4500;font-weight:400;text-decoration:none}
.toc.right a:hover,.toc.left a:hover{color:#281e00;text-decoration:underline}
.toc.right{margin-right:0;margin-left:20px;float:right}
.toc.left{margin-right:20px;margin-left:0;float:left}
.toc ul{margin:0;padding:0;font-size:.86em}
.toc ul ul{font-size:1em}
.toc li{margin:0}
.toc li li{margin-left:1.5em;list-style-type:disc}
.toc li li li{list-style-type:circle}
.toc li li li li{list-style-type:square}
.toc-active-prev+.toc{padding-left:16px;border-left:4px solid #0051cc}
.toc-active-prev+.toc a{color:#003d99}
.toc-active-prev+.toc a:focus,.toc-active-prev+.toc a:hover{color:#00245c}
h1 .wiki-anchor,h2 .wiki-anchor,h3 .wiki-anchor,h4 .wiki-anchor,h5 .wiki-anchor,h6 .wiki-anchor{display:none;position:relative;top:-.14em;margin-left:5px;color:#dadce7!important;font-size:.86em;text-decoration:none!important}
h1:hover .wiki-anchor,h2:hover .wiki-anchor,h3:hover .wiki-anchor,h4:hover .wiki-anchor,h5:hover .wiki-anchor,h6:hover .wiki-anchor{display:inline}
#wiki_add_attachment{padding-top:20px;border-top:1px solid #dadce7}
#wiki_add_attachment>p{margin-bottom:0;float:left}
#wiki_add_attachment>form{padding-top:20px;clear:left}
.collapsible #wiki_add_attachment{padding-top:0;border-top:0}
.collapsible #wiki_add_attachment>form{padding-top:0}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
.syntaxhl div{display:inline}
.syntaxhl .line-numbers{margin:0 5px 0 0;padding:2px 4px;background-color:#eee}
.syntaxhl .code pre{overflow:auto}
.syntaxhl .debug{background:#00f!important;color:#fff!important}
.syntaxhl .annotation{color:#007}
.syntaxhl .attribute-name{color:#b48}
.syntaxhl .attribute-value{color:#700}
.syntaxhl .binary{color:#509}
.syntaxhl .char{color:#d20}
.syntaxhl .char .content{color:#d20}
.syntaxhl .char .delimiter{color:#710}
.syntaxhl .class{color:#795da3;font-weight:600}
.syntaxhl .class-variable{color:#369}
.syntaxhl .color{color:#0a0}
.syntaxhl .comment{color:#969896}
.syntaxhl .comment .char,.syntaxhl .comment .delimiter{color:#969896}
.syntaxhl .complex{color:#a08}
.syntaxhl .constant{color:#795da3}
.syntaxhl .decorator{color:#b0b}
.syntaxhl .definition{color:#099;font-weight:600}
.syntaxhl .delimiter{color:#000}
.syntaxhl .directive{color:#088;font-weight:600}
.syntaxhl .doc{color:#970}
.syntaxhl .doc-string{color:#d42;font-weight:600}
.syntaxhl .doctype{color:#34b}
.syntaxhl .entity{color:#800;font-weight:600}
.syntaxhl .error{background-color:#faa;color:red}
.syntaxhl .escape{color:#666}
.syntaxhl .exception{color:#c00;font-weight:600}
.syntaxhl .float{color:#06d}
.syntaxhl .function{color:#06b;font-weight:600}
.syntaxhl .global-variable{color:#d70}
.syntaxhl .hex{color:#02b}
.syntaxhl .imaginary{color:red}
.syntaxhl .include{color:#b44;font-weight:600}
.syntaxhl .inline{background-color:rgba(0,0,0,.05);color:#000}
.syntaxhl .inline-delimiter{color:#666;font-weight:600}
.syntaxhl .instance-variable{color:#33b}
.syntaxhl .integer{color:#0086b3}
.syntaxhl .key{color:#606}
.syntaxhl .key .char{color:#60f}
.syntaxhl .key .delimiter{color:#404}
.syntaxhl .keyword{color:#b3113e;font-weight:600}
.syntaxhl .label{color:#970;font-weight:600}
.syntaxhl .local-variable{color:#369}
.syntaxhl .namespace{color:#707;font-weight:600}
.syntaxhl .octal{color:#40e}
.syntaxhl .predefined{color:#b21}
.syntaxhl .predefined-constant{color:#009595}
.syntaxhl .predefined-type{color:#0a5;font-weight:600}
.syntaxhl .preprocessor{color:#579}
.syntaxhl .pseudo-class{color:#00c;font-weight:600}
.syntaxhl .regexp{background-color:rgba(255,0,255,.06)}
.syntaxhl .regexp .content{color:#808}
.syntaxhl .regexp .delimiter{color:#404}
.syntaxhl .regexp .modifier{color:#c2c}
.syntaxhl .reserved{color:#080;font-weight:600}
.syntaxhl .shell{background-color:rgba(0,255,0,.06)}
.syntaxhl .shell .content{color:#2b2}
.syntaxhl .shell .delimiter{color:#161}
.syntaxhl .string .char,.syntaxhl .string .content,.syntaxhl .string .delimiter,.syntaxhl .string .modifier{color:#df5000}
.syntaxhl .symbol{color:#d33}
.syntaxhl .symbol .content,.syntaxhl .symbol .delimiter{color:#d33}
.syntaxhl .tag{color:#070}
.syntaxhl .type{color:#339;font-weight:600}
.syntaxhl .value{color:#088}
.syntaxhl .variable{color:#037}
.syntaxhl .insert{background:rgba(0,255,0,.12)}
.syntaxhl .insert .insert{background:0 0;color:#0c0;font-weight:600}
.syntaxhl .insert .eyecatcher{margin:-1px;border:1px solid rgba(0,128,0,.5);border-top:0 none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background-color:rgba(0,255,0,.2)}
.syntaxhl .delete{background:rgba(255,0,0,.12)}
.syntaxhl .delete .delete{background:0 0;color:#c00;font-weight:600}
.syntaxhl .delete .eyecatcher{margin:-1px;border:1px solid rgba(230,0,0,.5);border-bottom:0 none;border-top-left-radius:5px;border-top-right-radius:5px;background-color:rgba(255,0,0,.2)}
.syntaxhl .change{background:#007;color:#bbf}
.syntaxhl .change .change{color:#88f}
.syntaxhl .head{background:#505;color:#f8f}
.syntaxhl .head .head{color:#f4f}
.syntaxhl .head .filename{color:#fff}
.syntaxhl{background:#fafafa}
.syntaxhl .hll{background-color:#ffc}
.syntaxhl .c{color:#888}
.syntaxhl .err{background-color:#faa;color:red}
.syntaxhl .k{color:#080;font-weight:700}
.syntaxhl .o{color:#333}
.syntaxhl .ch{color:#888}
.syntaxhl .cm{color:#888}
.syntaxhl .cp{color:#579}
.syntaxhl .cpf{color:#888}
.syntaxhl .c1{color:#888}
.syntaxhl .cs{color:#c00;font-weight:700}
.syntaxhl .gd{color:#a00000}
.syntaxhl .ge{font-style:italic}
.syntaxhl .gr{color:red}
.syntaxhl .gh{color:navy;font-weight:700}
.syntaxhl .gi{color:#00a000}
.syntaxhl .go{color:#888}
.syntaxhl .gp{color:#c65d09;font-weight:700}
.syntaxhl .gs{font-weight:700}
.syntaxhl .gu{color:purple;font-weight:700}
.syntaxhl .gt{color:#04d}
.syntaxhl .kc{color:#080;font-weight:700}
.syntaxhl .kd{color:#080;font-weight:700}
.syntaxhl .kn{color:#080;font-weight:700}
.syntaxhl .kp{color:#038;font-weight:700}
.syntaxhl .kr{color:#080;font-weight:700}
.syntaxhl .kt{color:#339;font-weight:700}
.syntaxhl .m{color:#60e;font-weight:700}
.syntaxhl .s{background-color:#fff0f0}
.syntaxhl .na{color:#00c}
.syntaxhl .nb{color:#007020}
.syntaxhl .nc{color:#b06;font-weight:700}
.syntaxhl .no{color:#036;font-weight:700}
.syntaxhl .nd{color:#555;font-weight:700}
.syntaxhl .ni{color:#800;font-weight:700}
.syntaxhl .ne{color:red;font-weight:700}
.syntaxhl .nf{color:#06b;font-weight:700}
.syntaxhl .nl{color:#970;font-weight:700}
.syntaxhl .nn{color:#0e84b5;font-weight:700}
.syntaxhl .nt{color:#070}
.syntaxhl .nv{color:#963}
.syntaxhl .ow{color:#000;font-weight:700}
.syntaxhl .w{color:#bbb}
.syntaxhl .mb{color:#60e;font-weight:700}
.syntaxhl .mf{color:#60e;font-weight:700}
.syntaxhl .mh{color:#058;font-weight:700}
.syntaxhl .mi{color:#00d;font-weight:700}
.syntaxhl .mo{color:#40e;font-weight:700}
.syntaxhl .sa{background-color:#fff0f0}
.syntaxhl .sb{background-color:#fff0f0}
.syntaxhl .sc{color:#04d}
.syntaxhl .dl{background-color:#fff0f0}
.syntaxhl .sd{color:#d42}
.syntaxhl .s2{background-color:#fff0f0}
.syntaxhl .se{background-color:#fff0f0;color:#666;font-weight:700}
.syntaxhl .sh{background-color:#fff0f0}
.syntaxhl .si{background-color:#eee}
.syntaxhl .sx{background-color:#fff0f0;color:#d20}
.syntaxhl .sr{background-color:#fff0ff;color:#000}
.syntaxhl .s1{background-color:#fff0f0}
.syntaxhl .ss{color:#a60}
.syntaxhl .bp{color:#007020}
.syntaxhl .fm{color:#06b;font-weight:700}
.syntaxhl .vc{color:#369}
.syntaxhl .vg{color:#d70;font-weight:700}
.syntaxhl .vi{color:#33b}
.syntaxhl .vm{color:#963}
.syntaxhl .il{color:#00d;font-weight:700}